@use "_breakpoint.scss" as *;

body {
    box-sizing: border-box;

}

.banner {
    background-image: url("../images/banner.png");
    width: 100vw;
    max-width: 1920px;
    height: 100vh;
    max-height: 634px;
    background-position: center;
    background-repeat: no-repeat;
    @media(max-width: $sm) {
        background-image: url("../images/banner.png");
        height: 100vh;
        max-height: 610px;
        background-position: 15% center;
        background-repeat: no-repeat;
    }
}

.new {
    background-color: #2B2B2B;

    @media(max-width: $sm) {
        background: linear-gradient(#000000, #404040, #191919);
    }
}

.custom {
    background-color: #000000;

    @media(max-width: $sm) {
        background: linear-gradient(#000000, #2A2A2A, #000000, #012022, #000000, #000000);
    }

    .custom-title {
        @media(max-width: $sm) {
            width: 351px;
        }
    }

    .custom-pics {
        @media(max-width: $sm) {
            img {
                width: 100%;
                object-fit: cover;
                max-width: 351px;
                height: 100vh;
                max-height: 351px;
            }
        }
    }
}

.order {
    .order-pics {

        .pic1,
        .pic2 {
            img {
                object-fit: cover;
                width: 306px;
                height: 306px;
            }

            @media(max-width: $sm) {
                img {
                    object-fit: cover;
                    width: 168px;
                    height: 168px;
                }
            }
        }
    }

    .form {
        .form-input {
            input {
                padding: 16px 12px;
                border: 1px solid #DEE2E6;
                border-radius: 4px;
            }

            input::placeholder {
                color: #ACACAC;
            }

            @media(max-width: $sm) {
                input {
                    padding: 16px 12px;
                    border: 1px solid #DEE2E6;
                    border-radius: 4px;
                }

                input::placeholder {
                    color: #ffffff;
                }
            }
        }
    }
}